################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ID3D/CopilotIndices/17.14.1091.29919/CodeChunks.db
/.vs/ID3D/CopilotIndices/17.14.1091.29919/CodeChunks.db-shm
/.vs/ID3D/CopilotIndices/17.14.1091.29919/CodeChunks.db-wal
/.vs/ID3D/CopilotIndices/17.14.1091.29919/SemanticSymbols.db
/.vs/ID3D/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-shm
/.vs/ID3D/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-wal
/.vs/ID3D/DesignTimeBuild/.dtbcache.v2
/.vs/ID3D/FileContentIndex/132a76e0-dc2c-41ab-a8e0-4b6d1fa6a3b8.vsidx
/.vs/ID3D/FileContentIndex/c8bf3e3f-7f64-417f-8bdc-8349ce3f5c59.vsidx
/.vs/ID3D/FileContentIndex/f1867ce8-a710-42bd-8758-f7aaa98750e0.vsidx
/.vs/ID3D/FileContentIndex/f1b209e2-2a74-4655-bcba-cc146103a3a2.vsidx
/.vs/ID3D/v17/.futdcache.v2
/.vs/ID3D/v17/.suo
/.vs/ID3D/v17/.wsuo
/.vs/ID3D/v17/DocumentLayout.backup.json
/.vs/ID3D/v17/DocumentLayout.json
/.vs/ID3D/v17/workspaceFileList.bin
/.vs/ProjectEvaluation/id3d.metadata.v9.bin
/.vs/ProjectEvaluation/id3d.projects.v9.bin
/.vs/ProjectEvaluation/id3d.strings.v9.bin
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/ID3D/config/applicationhost.config
/.vs/ID3D/FileContentIndex/0e4d203d-b0f5-416d-ba73-b8a7a3ba33df.vsidx
/.vs/ID3D/FileContentIndex/2a3a5c17-465c-4b5d-af6e-2944bdac47b4.vsidx
/.vs/ID3D/FileContentIndex/b3e158a0-52d7-4868-b945-5abb7d086286.vsidx
/.vs/ID3D/FileContentIndex/19729299-9c42-4bed-ae7a-ca8c730e2a5d.vsidx
/.vs/ID3D/FileContentIndex/225fd817-94e0-4e73-b89e-2d5707360ecd.vsidx
/.vs/ID3D/FileContentIndex/762a7962-b9f2-47b7-b13d-f7b0f3cef0ae.vsidx
/.vs/ID3D/FileContentIndex/c1696ce9-240d-4e7c-96bc-0e44669d5780.vsidx
/.vs/ID3D/FileContentIndex/de131184-8f43-4c2e-902d-694f0242b8ab.vsidx
/.vs/ID3D/FileContentIndex/3610be1f-1404-4ae1-b8fd-9972a50be113.vsidx
/.vs/ID3D/copilot-chat/392853c5/sessions/d0fa086f-de99-4b0a-8158-a6806323e28e
/.vs/ID3D/FileContentIndex/43facd1c-e34f-451d-8d4c-38904d555624.vsidx
/.vs/ID3D/FileContentIndex/7d9585ae-d192-4915-9a52-9f1a6cd850f5.vsidx
/.vs/ID3D/FileContentIndex/26e07663-dedf-4884-a2cb-28ddbd9249fe.vsidx
/.vs/ID3D/copilot-chat/392853c5/sessions/06dcd894-1819-4e56-8a06-64d6b7ef1e5c
/.vs/ID3D/FileContentIndex/09a54866-3a21-4257-9f6b-3edfef46f096.vsidx
/.vs/ID3D/FileContentIndex/54435e4f-4228-4f79-a1fd-4fd92c123089.vsidx
/.vs/ID3D/FileContentIndex/6bd3cd7d-ef0d-4465-aeae-8b17b1b90064.vsidx
/.vs/ID3D/FileContentIndex/e922a575-bcdc-4765-ae3d-983c6f9205ae.vsidx
/.vs/ID3D/FileContentIndex/5c3acd21-db73-45a8-803d-547269fcdd30.vsidx
/.vs/ID3D/FileContentIndex/b6ce344a-fd56-4813-9a7f-075f5e3208d7.vsidx
